{% extends 'dashboard/basic.html' %} {% block body %} {% load static %}

<div class="d-flex justify-content-between">
  <div class="back_btn_3">
    <a href="default_fertilizers" class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
    <a href="default_fertilizers" class="back_btn_4">Back To Fertilizer</a>
  </div>
</div>

<div class="container create_user_form">
    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label>Fertilizers name</label>
            <input type="text" class="form-control" name="fertilizer_name" placeholder="Plant name" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

{% endblock %}