{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

Default Pesticides
<div>
    {% for pes in default_pesticide %}
    <span>{{pes}}</span><br>
    {% endfor %}
</div>
<div class="container create_user_form">
    <form method="post" id="loginid" >
        {% csrf_token %}
        <div class="form-group mt-2">
            <label>Pesticide name</label>
            <input type="text" class="form-control"  name="pesticide_name"  placeholder="Pesticide name" >
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

{% endblock %}