{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

Default plant names Registration
<div class="container create_user_form">
    <form method="post" id="loginid" action="{% url 'add_default_plant_name'%}">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label>Plant name</label>
            <input type="text" class="form-control"  name="plant_name"  placeholder="Plant name" >
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

<div class="container create_user_form">
    <form method="post" action="{% url 'add_default_plant_seed_name'%}">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label>Plant name</label>

                <select  name="plant_name">
                    <option value="">Please select plant</option>
                    {% for plant in plant_names%}
                    <option value="{{plant.id}}">{{plant}}</option>
                    {% endfor %}
                </select>

            <input type="text" class="form-control"  name="seed_name"  placeholder="Seed name" >
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>

{% endblock %}