<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
{{record}}
<form method="post" id="loginid">
            {% csrf_token %}
            <div class="form-group mt-3">
                <label for="user_name">If you want to delete this record then type "yes" in below field</label><br>
                <input type="text" class="form-control" id="user_name" name="answer" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
        </form>
</body>
</html>