{% extends 'dashboard/basic.html' %} {% block body %} {% load static %}

<div class="back_btn_3">
  <a href="{% url 'farmer_details' farmer_id=farm.farmer_id.id%}"
    class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
  <a href="{% url 'farmer_details' farmer_id=farm.farmer_id.id%}" class="back_btn_4">Back To Farmer</a>
</div>
<div class="main_box">
  <div class="d-flex justify-content-between">
    <div class="farmer_info_title text-muted">Farm Information</div>
    <a href="/farmer_edit/farmer_id={{farmer_info.id}}" class="material-symbols-outlined m-3 text-muted">
      edit_square
    </a>
  </div>
  <div class="farmer_info_details">
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Nick name:</div>
      <div class="farmer_details_1">{{farm.farm_nick_name}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Farm space:</div>
      <div class="farmer_details_1">{{farm.farm_space}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Geo location</div>
      <div class="farmer_details_1">{{farm.geo_location}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Farm Village</div>
      <div class="farmer_details_1">{{farm.farm_village}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Khata no</div>
      <div class="farmer_details_1">{{farm.khata_no}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Who Caretaker</div>
      <div class="farmer_details_1">{{farm.who_caretaker}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Caretaker</div>
      <div class="farmer_details_1">{{farm.caretaker}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Caretaker Phone Number</div>
      <div class="farmer_details_1">{{farm.caretaker_phone_number}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Soil Type</div>
      <div class="farmer_details_1">{{farm.soil_type}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Water Source</div>
      <div class="farmer_details_1">{{farm.water_source}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Water Type</div>
      <div class="farmer_details_1">{{farm.water_type}}</div>
    </div>
    <div class="farmer_info_details_1">
      <div class="text-muted farmer_info_title_1">Water Season</div>
      <div class="farmer_details_1">{{farm.water_season}}</div>
    </div>
  </div>

  <div class="farmer_info_title_page text-muted">
    <span class="pages" id="planting_history_menu">Planting History</span>
    <span class="pages" id="soil_test_menu">Soil Test</span>
    <span class="pages" id="water_test_menu">Water Test</span>

  </div>
  <div class="farm_info" id="planting_history">
    <div class="page_table">
      <div class="d-flex justify-content-evenly p-1 page_table_1">
        <div class="table_one_content">Plant Name</div>
        <div class="table_one_content">Plant Type</div>
        <div class="table_one_content">Plant Area</div>
        <div class="table_one_content">Planting Date</div>
      </div>
      {% for plant in planting_history %}
      <a class="d-flex justify-content-evenly p-1 farm_information" href="{% url 'planting' planting_id=plant.id%}">
        <div class="table_one_content_1">{{plant.plant}}</div>
        <div class="table_one_content_1">{{plant.plant_type}}</div>
        <div class="table_one_content_1">{{plant.planting_area}}</div>
        <div class="table_one_content_1">{{plant.planting_time}}</div>
      </a>
      {% endfor %}
      <div class="add_more_farm">
        <div class="add_more_farm_1 p-2">
          <a href="{% url 'planting_reg' %}">add more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="farm_info" id="soil_test">

    <div class="page_table">
      <div class="d-flex justify-content-evenly p-1 page_table_1">
        <div class="table_one_content">Test Date</div>
        <div class="table_one_content">Water Source</div>
        <div class="table_one_content">PH</div>
        <div class="table_one_content">EC</div>
        <div class="table_one_content">Organic Carbon</div>
      </div>
      {% for soil in soil_test %}
      <a class="d-flex justify-content-evenly p-1 farm_information" href="{% url 'soil_test_info' id=soil.id%}">
        <div class="table_one_content_1">{{soil.test_date}}</div>
        <div class="table_one_content_1">{{soil.water_source}}</div>
        <div class="table_one_content_1">{{soil.ph}}</div>
        <div class="table_one_content_1">{{soil.ec}}</div>
        <div class="table_one_content_1">{{soil.organic_carbon}}</div>
      </a>
      {% endfor %}
      <div class="add_more_farm">
        <div class="add_more_farm_1 p-2">
          <a href="{% url 'soil_test' %}">add more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="farm_info" id="water_test">
    <div class="page_table">
      <div class="d-flex justify-content-evenly p-1 page_table_1">
        <div class="table_one_content">Test Date</div>
        <div class="table_one_content">Sample No</div>
        <div class="table_one_content">PH</div>
        <div class="table_one_content">EC</div>
        <div class="table_one_content">TDS</div>
        <div class="table_one_content">CA</div>
        <div class="table_one_content">MG</div>

      </div>
      {% for water in water_test %}
      <a class="d-flex justify-content-evenly p-1 farm_information" href="{% url 'soil_test_info' id=soil.id%}">
        <div class="table_one_content_1">{{water.test_date}}</div>
        <div class="table_one_content_1">{{water.sample_no}}</div>
        <div class="table_one_content_1">{{water.ph}}</div>
        <div class="table_one_content_1">{{water.ec}}</div>
        <div class="table_one_content_1">{{water.tds}}</div>
        <div class="table_one_content_1">{{water.ca}}</div>
        <div class="table_one_content_1">{{water.mg}}</div>
      </a>
      {% endfor %}
      <div class="add_more_farm">
        <div class="add_more_farm_1 p-2">
          <a href="{% url 'soil_test' %}">add more</a>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="farmer_info_title_page text-muted"><span class="pages">Planting History</span><a
      href="{% url 'planting_reg' %}">Add new planting</a></div>
  <div class="farm_info">
    {% for plant in planting_history %}
    <a class="farm_info_card" href="{% url 'planting' planting_id=plant.id%}">
      <div class="farmer_info_details_2">
        <div class="text-muted farmer_info_title_1">Plant Name</div>
        <div class="farmer_details_1">{{plant.plant}}</div>
      </div>
      <div class="farmer_info_details_2">
        <div class="text-muted farmer_info_title_1">Plant Type</div>
        <div class="farmer_details_1">{{plant.plant_type}}</div>
      </div>
      <div class="farmer_info_details_2">
        <div class="text-muted farmer_info_title_1">Plant Area</div>
        <div class="farmer_details_1">{{plant.planting_area}}</div>
      </div>
      <div class="farmer_info_details_2">
        <div class="text-muted farmer_info_title_1">Planting Date</div>
        <div class="farmer_details_1">{{plant.planting_time}}</div>
      </div>
      </span>
    </a>
    {% endfor %}
  </div> {% endcomment %}


  {% comment %} <table class="table table-borderless farmer_detail">
    <a href="/farm_edit/farm_id={{farm.id}}">Edit Farminfo</a>
    <tbody>
      <tr>
        <td>
          <table>
            <tr>
              <th scope="row" class="p-2">Nick name:</th>
              <td class="p-2">{{farm.farm_nick_name}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Farm space:</th>
              <td class="p-2">{{farm.farm_space}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Geo location:</th>
              <td class="p-2">{{farm.geo_location}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Farm Village:</th>
              <td class="p-2">{{farm.farm_village}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Khata no:</th>
              <td class="p-2">{{farm.khata_no}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Who Caretaker:</th>
              <td class="p-2">{{farm.who_caretaker}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <th scope="row" class="p-2">Caretaker:</th>
              <td class="p-2">{{farm.caretaker}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Caretaker Phone Number:</th>
              <td class="p-2">{{farm.caretaker_phone_number}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Soil Type:</th>
              <td class="p-2">{{farm.soil_type}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Water Source:</th>
              <td class="p-2">{{farm.water_source}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">water type:</th>
              <td class="p-2">{{farm.water_type}}</td>
            </tr>
            <tr>
              <th scope="row" class="p-2">Water Season:</th>
              <td class="p-2">{{farm.water_season}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table> {% endcomment %}
  {% comment %} <div class="pages">
    <div class="pages_titles"> <span class="page_name">Planting History</span></div>
    <table class="table page_table">
      <tr>
        <th>Plant Name</th>
        <th>Plant Area</th>
        <th>Planting Date</th>
        <th></th>
      </tr>
      {% for plant in planting_history %}

      <tr class="farm_details">
        <td>{{plant.plant}}</td>
        <td>{{plant.planting_area}}</td>
        <td>{{plant.planting_time}}</td>
        <td><a href="{% url 'planting' planting_id=plant.id%}">More Info</a></td>
      </tr>
      {% endfor %}
    </table>
    <div class="add_farm_btn"><a href="{% url 'planting_reg' %}">Add new planting</a></div>
  </div> {% endcomment %}
  <!-- <div class="d-flex justify-content-evenly flex-wrap">
  <span>Planting History</span>
  <div class="d-flex justify-content-center align-items-center">
    <button><a href="{% url 'planting_reg' %}">Add new planting</a></button>
  </div>
</div>
<div class="d-flex justify-content-evenly flex-wrap">
  {% for plant in planting_history %}
  <div class="card m-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{plant.plant}}</h5>
      <p class="card-text">{{plant.planting_time}}</p>
      <p class="card-text">{{plant.planting_area}}</p>
      <a href="{% url 'planting' planting_id=plant.id%}" class="btn btn-primary">More Details</a>
    </div>
  </div>
  {% endfor %}
</div> -->
  {% endblock %}

  {% block jsfile %}
  <script src="{% static 'farm_info.js' %}"></script>
  {% endblock %}