{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

    <h2>Fertilizer Info</h2>
    <table class="table table-borderless table-width-40 farmer_detail">
        <a href="/fertilizer_edit/fertilizer_id={{fertilizer.id}}">Edit Planting</a>
        <tbody>
            <tr>
                <th scope="row">Farmer ID:</th>
                <td>{{fertilizer.farmer_id}}</td>
            </tr>
            <tr>
                <th scope="row">Farm ID:</th>
                <td>{{fertilizer.farm_id.farm_nick_name}}</td>
            </tr>
            <tr>
                <th scope="row">Planting Id:</th>
                <td>{{fertilizer.planting_id.plant}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Name:</th>
                <td>{{fertilizer.fertilizer_name}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Qty:</th>
                <td>{{fertilizer.fertilizer_qty}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Qty per acre:</th>
                <td>{{fertilizer.fertilizer_qty_per_acre}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Date:</th>
                <td>{{fertilizer.fertilizer_date}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer days from planting:</th>
                <td>{{fertilizer.fertilizer_days_from_planting}}</td>
            </tr>
            <tr>
                <th scope="row">Rating:</th>
                <td>{{fertilizer.rating}}</td>
            </tr>
            <tr>
                <th scope="row">Create Date:</th>
                <td>{{fertilizer.create_date}}</td>
            </tr>
            <tr>
                <th scope="row">Modified Date:</th>
                <td>{{fertilizer.modified_date}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}