{% extends 'dashboard/basic.html' %} {% block body %} {% load static %}
{% comment %} <div class="d-flex justify-content-center align-items-center">
    <button>
        <a href="{% url 'farm_info' farm_id=farm_id%}">Back to Farm info</a>
    </button>
</div> {% endcomment %}
<div class="back_btn_3">
    <a href="{% url 'planting' planting_id=fertilizer.planting_id.id%}"
        class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
    <a href="{% url 'planting' planting_id=fertilizer.planting_id.id%}" class="back_btn_4">Back To Planting
        info</a>
</div>
<div class="main_box">
    <div class="d-flex justify-content-between">
        <div class="farmer_info_title text-muted">Fertilizer Info</div>
        <a href="/fertilizer_edit/fertilizer_id={{fertilizer.id}}" class="material-symbols-outlined m-3 text-muted">
            edit_square
        </a>
    </div>
    <div class="farmer_info_details">
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farmer Name</div>
            <div class="farmer_details_1">{{fertilizer.farmer_id.name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farm Name</div>
            <div class="farmer_details_1">
                {{fertilizer.farm_id.farm_nick_name}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Planting Name</div>
            <div class="farmer_details_1">{{fertilizer.planting_id.plant}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Fertilizer Name</div>
            <div class="farmer_details_1">{{fertilizer.fertilizer_name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Fertilizer Qty</div>
            <div class="farmer_details_1">{{fertilizer.fertilizer_qty}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Fertilizer Qty per acre</div>
            <div class="farmer_details_1">{{fertilizer.fertilizer_qty_per_acre}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Fertilizer Date</div>
            <div class="farmer_details_1">
                {{fertilizer.fertilizer_date}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Fertilizer days from planting</div>
            <div class="farmer_details_1">{{fertilizer.fertilizer_days_from_planting}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Rating</div>
            <div class="farmer_details_1">{{fertilizer.rating}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Create Date</div>
            <div class="farmer_details_1">{{fertilizer.create_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Modified Date</div>
            <div class="farmer_details_1">{{fertilizer.modified_date}}</div>
        </div>
    </div>
    <div class="mt-4 border-invisible"></div>
</div>
    {% comment %} <h2>Fertilizer Info</h2>
    <table class="table table-borderless table-width-40 farmer_detail">
        <a href="/fertilizer_edit/fertilizer_id={{fertilizer.id}}">Edit Planting</a>
        <tbody>
            <tr>
                <th scope="row">Farmer ID:</th>
                <td>{{fertilizer.farmer_id}}</td>
            </tr>
            <tr>
                <th scope="row">Farm ID:</th>
                <td>{{fertilizer.farm_id.farm_nick_name}}</td>
            </tr>
            <tr>
                <th scope="row">Planting Id:</th>
                <td>{{fertilizer.planting_id.plant}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Name:</th>
                <td>{{fertilizer.fertilizer_name}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Qty:</th>
                <td>{{fertilizer.fertilizer_qty}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Qty per acre:</th>
                <td>{{fertilizer.fertilizer_qty_per_acre}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer Date:</th>
                <td>{{fertilizer.fertilizer_date}}</td>
            </tr>
            <tr>
                <th scope="row">Fertilizer days from planting:</th>
                <td>{{fertilizer.fertilizer_days_from_planting}}</td>
            </tr>
            <tr>
                <th scope="row">Rating:</th>
                <td>{{fertilizer.rating}}</td>
            </tr>
            <tr>
                <th scope="row">Create Date:</th>
                <td>{{fertilizer.create_date}}</td>
            </tr>
            <tr>
                <th scope="row">Modified Date:</th>
                <td>{{fertilizer.modified_date}}</td>
            </tr>
        </tbody>
    </table> {% endcomment %}

    {% endblock %}
</div>