{% extends 'dashboard/basic.html' %} {% block body %} {% load static %}

<div class="back_btn">
    <button class="back_btn_1"><a class="back_btn_2" href="{% url 'planting' planting_id=harvesting.planting_id.id%}">
            <span class="material-symbols-outlined back_btn_2">
                arrow_back_ios
            </span>
            Back to Planting info</a></button>
</div>

<div class="main_box">
    <div class="d-flex justify-content-between">
        <div class="farmer_info_title text-muted">Harvesting Info</div>
        <a href="/water_irrigation_edit/water_irrigation_id={{water_irrigation.id}}"
            class="material-symbols-outlined m-3 text-muted">
            edit_square
        </a>
    </div>
    <div class="farmer_info_details">
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farmer Name</div>
            <div class="farmer_details_1">{{harvesting.farmer_id.name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farm Name</div>
            <div class="farmer_details_1">{{harvesting.farm_id.farm_nick_name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Planting Name</div>
            <div class="farmer_details_1">{{harvesting.planting_id.plant}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Plant type</div>
            <div class="farmer_details_1">{{harvesting.plant_type}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Harvesting time</div>
            <div class="farmer_details_1">{{harvesting.harvesting_time}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Total production</div>
            <div class="farmer_details_1">
                {{harvesting.total_production}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Per acre production</div>
            <div class="farmer_details_1">
                {{harvesting.per_acre_production}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Create Date</div>
            <div class="farmer_details_1">{{harvesting.create_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Modified Date</div>
            <div class="farmer_details_1">{{harvesting.modified_date}}</div>
        </div>
    </div>
    <div class="mt-4 border-invisible"></div>
</div>

{% comment %} <h2>Harvesting Info</h2>
<table class="table table-borderless table-width-40 farmer_detail">
    <a>Edit Planting</a>
    <tbody>
        <tr>
            <th scope="row">Farmer ID:</th>
            <td>{{harvesting.farmer_id}}</td>
        </tr>
        <tr>
            <th scope="row">Farm ID:</th>
            <td>{{harvesting.farm_id.farm_nick_name}}</td>
        </tr>
        <tr>
            <th scope="row">Planting Id:</th>
            <td>{{harvesting.planting_id.plant}}</td>
        </tr>
        <tr>
            <th scope="row">Plant type:</th>
            <td>{{harvesting.plant_type}}</td>
        </tr>
        <tr>
            <th scope="row">Harvesting time:</th>
            <td>{{harvesting.harvesting_time}}</td>
        </tr>
        <tr>
            <th scope="row">Total production:</th>
            <td>{{harvesting.total_production}}</td>
        </tr>
        <tr>
            <th scope="row">Per acre production:</th>
            <td>{{harvesting.per_acre_production}}</td>
        </tr>
        <tr>
            <th scope="row">Create Date:</th>
            <td>{{harvesting.create_date}}</td>
        </tr>
        <tr>
            <th scope="row">Modified Date:</th>
            <td>{{harvesting.modified_date}}</td>
        </tr>
    </tbody>
</table> {% endcomment %}

{% endblock %}