{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<div class="container create_user_form">
    <h5 class="font-weight-bold">Harvesting Registration</h5>
    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" class="form-control" id="id_farmer_id" name="farmer_id" value="{{farmer_id}}" placeholder="Farmer Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" class="form-control" id="id_farm_id" name="farm_id" value="{{farm_id}}" placeholder="Farm Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_planting_id">Planting Id</label>
            <input type="number" class="form-control" id="id_planting_id" name="planting_id" value="{{planting_id}}" placeholder="Planting Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_plant_type">Plant Type</label>
            <input type="text" class="form-control" id="id_plant_type" name="plant_type" placeholder="Plant Type" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_harvesting_time">Harvesting Time</label>
            <input type="datetime-local" class="form-control" id="id_harvesting_time" name="harvesting_time" placeholder="Harvesting Time" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_total_production">Total Production</label>
            <input type="number" class="form-control" id="id_total_production" name="total_production" placeholder="Total Production" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_per_acre_production">Per Acre Production</label>
            <input type="number" class="form-control" id="id_per_acre_production" name="per_acre_production" placeholder="Per Acre Production" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
    </form>
</div>
 {% endblock %}