{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<h2>Pesticide</h2>

<div class="container create_user_form">
    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" class="form-control" id="id_farmer_id" name="farmer_id" value="{{farmer_id}}" placeholder="Farmer Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" class="form-control" id="id_farm_id" name="farm_id" value="{{farm_id}}" placeholder="Farm Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_planting_id">Planting Id</label>
            <input type="number" class="form-control" id="id_planting_id" name="planting_id" value="{{planting_id}}" placeholder="Planting Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_pesticide_name">Pesticide Name</label>
            <input type="text" class="form-control" id="id_pesticide_name" name="pesticide_name" placeholder="Pesticide Name" required>
        </div>
        <div class="form-group mt-2">
            <label for="id_pesticide_qty">Pesticide Qty</label>
            <input type="text" class="form-control" id="id_pesticide_qty" name="pesticide_qty" placeholder="Pesticide Qty" required>
        </div>
        <div class="form-group mt-2">
            <label for="id_pesticide_qty">Reason</label>
            <input type="text" class="form-control" id="id_reason" name="reason" placeholder="Reason" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_pesticide_date">Pesticide Date</label>
            <input type="datetime-local" class="form-control" id="id_pesticide_date" name="pesticide_date" placeholder="Pesticide Date" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
    </form>
</div>

{% endblock %}