{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

    <h2>Pesticide Info</h2>
    <table class="table table-borderless table-width-40 farmer_detail">
        <a href="/pesticide_edit/pesticide_id={{pesticide.id}}">Edit Planting</a>
        <tbody>
            <tr>
                <th scope="row">Farmer ID:</th>
                <td>{{pesticide.farmer_id}}</td>
            </tr>
            <tr>
                <th scope="row">Farm ID:</th>
                <td>{{pesticide.farm_id.farm_nick_name}}</td>
            </tr>
            <tr>
                <th scope="row">Planting Id:</th>
                <td>{{pesticide.planting_id.plant}}</td>
            </tr>
            <tr>
                <th scope="row">Pesticide Name:</th>
                <td>{{pesticide.pesticide_name}}</td>
            </tr>
            <tr>
                <th scope="row">Pesticide Qty:</th>
                <td>{{pesticide.pesticide_qty}}</td>
            </tr>
            <tr>
                <th scope="row">Reason:</th>
                <td>{{pesticide.reason}}</td>
            </tr>
            <tr>
                <th scope="row">Pesticide Date:</th>
                <td>{{pesticide.pesticide_date}}</td>
            </tr>
            <tr>
                <th scope="row">Pesticide days from planting:</th>
                <td>{{pesticide.pesticide_date_from_planting}}</td>
            </tr>
            <tr>
                <th scope="row">Create Date:</th>
                <td>{{pesticide.create_date}}</td>
            </tr>
            <tr>
                <th scope="row">Modified Date:</th>
                <td>{{pesticide.modified_date}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}