{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<body>
<div class="d-flex justify-content-center align-items-center">


    <button><a href="{% url 'farm_info' farm_id=farm_id%}">Back to Farm info</a></button>
    <button><a href="{% url 'harvesting_and_crop_selling' %}">Harvesting and Selling</a></button>
</div>

    <h2>Planting Info</h2>
    <table class="table table-borderless table-width-40 farmer_detail">
      <a href="/plant_edit/plant_id={{planting_history.id}}">Edit Planting</a>
        <tbody>
        <tr>
            <th scope="row">Farmer ID:</th>
            <td>{{planting_history.farmer_id}}</td>
          </tr>
        <tr>
            <th scope="row">Farm ID:</th>
            <td>{{planting_history.farm_id}}</td>
          </tr>
          <tr>
            <th scope="row">Plant Name:</th>
            <td>{{planting_history.plant}}</td>
          </tr>
          <tr>
            <th scope="row">Plant Type:</th>
            <td>{{planting_history.plant_type}}</td>
          </tr>
          <tr>
            <th scope="row">Plant Area</th>
            <td>{{planting_history.planting_area}}</td>
          </tr>
        <tr>
            <th scope="row">Planting Date</th>
            <td>{{planting_history.planting_time}}</td>
          </tr>
        <tr>
            <th scope="row">Time from planting</th>
            <td>{{planting_history.time_from_planting}}</td>
          </tr>
          <tr>
            <th scope="row">Create Date</th>
            <td>{{planting_history.create_date}}</td>
          </tr>
          <tr>
            <th scope="row">Modified Date</th>
            <td>{{planting_history.modified_date}}</td>
          </tr>
        </tbody>
      </table>
<div class="col-md-12 d-flex">
    <div class="col-md-4">
        <button><a href="{% url 'fertilizer_reg' %}">Fertilizer Reg</a></button>
    <div class="d-flex justify-content-evenly flex-wrap">
      {% for fer in fertilizer %}
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">fertilizer_name:{{fer.fertilizer_name}}</h5>
          <p class="card-text">fertilizer_qty:{{fer.fertilizer_qty}}</p>
          <p class="card-text">fertilizer_date:{{fer.fertilizer_date}}</p>
          <p class="card-text">rating:{{fer.rating}}</p>
          <p class="card-text">crop_days:{{fer.time_from_fertilizer}}</p>
            <button><a href="/fertilizer_info/fertilizer_id={{fer.id}}">More Info</a></button>
        </div>
      </div>
      {% endfor %}
    </div>

    </div>
    <div class="col-md-4">
        <button><a href="{% url 'water_irrigation_reg' %}">Water irrigation</a></button>
    <div class="d-flex justify-content-evenly flex-wrap">
      {% for water in water_irrigation %}
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">water_irrigation_type :{{water.water_irrigation_type}}</h5>
          <p class="card-text">water_irrigation_date: {{water.water_irrigation_date}}</p>
          <p class="card-text">time_from_water_irrigation: {{water.time_from_water_irrigation}}</p>
            <button><a href="/water_irrigation_info/water_irrigation_id={{water.id}}">More Info</a></button>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    <div class="col-md-4">
        <button><a href="{% url 'pesticide_reg' %}">Pesticide</a></button>
    <div class="d-flex justify-content-evenly flex-wrap">
      {% for pes in pesticide %}
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">pesticide_name:{{pes.pesticide_name}}</h5>
          <p class="card-text">pesticide_qty:{{pes.pesticide_qty}}</p>
          <p class="card-text">pesticide_date:{{pes.pesticide_date}}</p>
          <p class="card-text">pesticide_days:{{pes.time_from_prestiside}}</p>
            <button><a href="/pesticide_info/pesticide_id={{pes.id}}">More Info</a></button>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>
 {% endblock %}