{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}

<body>
  {% comment %} <div class="d-flex justify-content-center align-items-center">
    <button><a href="{% url 'farm_info' farm_id=farm_id%}">Back to Farm info</a></button>
  </div> {% endcomment %}
  <div class="back_btn_3">
    <a href="{% url 'farm_info' farm_id=farm_id%}"
      class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
    <a href="{% url 'farm_info' farm_id=farm_id%}" class="back_btn_4">Back To Farm</a>
  </div>
  {% comment %} <div class="back_btn">
    <button class="back_btn_1"><a class="back_btn_2" href="{% url 'farm_info' farm_id=farm_id%}">
        <span class="material-symbols-outlined back_btn_2">
          arrow_back_ios
        </span>
        Back to Farm info</a></button>
  </div> {% endcomment %}
  {% comment %} <div class="d-flex justify-content-end">
    <span class="dropdown">
      <button class="dropbtn">More Registration</button>
      <div class="dropdown-content">
        <div><a href="{% url 'fertilizer_reg' %}">Fertilizer Reg</a></div>
        <div><a href="{% url 'water_irrigation_reg' %}">Water irrigation</a></div>
        <div><a href="{% url 'pesticide_reg' %}">Pesticide</a></div>
      </div>
    </span>
  </div> {% endcomment %}
  <div class="main_box">
    <div class="d-flex justify-content-between">
      <div class="farmer_info_title text-muted">Planting Info</div>
      <a href="/plant_edit/plant_id={{planting_history.id}}" class="material-symbols-outlined m-3 text-muted">
        edit_square
      </a>
    </div>
    <div class="farmer_info_details">
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Farmer Name</div>
        <div class="farmer_details_1">{{planting_history.farmer_id.name}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Farm ID</div>
        <div class="farmer_details_1">{{planting_history.farm_id.farm_nick_name}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Plant Name</div>
        <div class="farmer_details_1">{{planting_history.plant}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Plant Type</div>
        <div class="farmer_details_1">{{planting_history.plant_type}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Plant Area</div>
        <div class="farmer_details_1">{{planting_history.planting_area}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Planting Date</div>
        <div class="farmer_details_1">{{planting_history.planting_time}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Time from planting</div>
        <div class="farmer_details_1">{{planting_history.time_from_planting}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Create Date</div>
        <div class="farmer_details_1">{{planting_history.create_date}}</div>
      </div>
      <div class="farmer_info_details_1">
        <div class="text-muted farmer_info_title_1">Modified Date</div>
        <div class="farmer_details_1">{{planting_history.modified_date}}</div>
      </div>
    </div>
    <div class="farmer_info_title_page text-muted">
      <span class="pages" id="fertilizer_menu">Fertilizer</span>
      <span class="pages" id="water_irrigation_menu">Water Irrigation</span>
      <span class="pages" id="pesticide_menu">Pesticide</span>
      <span class="pages" id="harvesting_menu">Harvesting</span>
      <span class="pages" id="selling_menu">Selling</span>
    </div>
    <div class="farm_info" id="fertilizer">
      <div class="page_table">
        <div class="d-flex justify-content-evenly p-1 page_table_1">
          <div class="table_one_content">Fertilizer name</div>
          <div class="table_one_content">Fertilizer Qty</div>
          <div class="table_one_content">Rating</div>
          <div class="table_one_content">Fertilizer Days From Planting</div>
        </div>
        {% for fer in fertilizer %}
        <a class="d-flex justify-content-evenly p-1 farm_information" href="/fertilizer_info/fertilizer_id={{fer.id}}">
          <div class="table_one_content_1">{{fer.fertilizer_name}}</div>
          <div class="table_one_content_1">{{fer.fertilizer_qty}}</div>
          <div class="table_one_content_1">{{fer.rating}}</div>
          <div class="table_one_content_1">{{fer.fertilizer_days_from_planting}}</div>
        </a>
        {% endfor %}
        <div class="add_more_farm">
          <div class="add_more_farm_1 p-2">
            <a href="{% url 'fertilizer_reg' %}">add more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="farm_info" id="water_irrigation">
      <div class="page_table">
        <div class="d-flex justify-content-evenly p-1 page_table_1">
          <div class="table_one_content">Water Irrigation Type</div>
          <div class="table_one_content">Water Irrigation Date</div>
          <div class="table_one_content">Time From Water Irrigation</div>
          <div class="table_one_content">Days From Planting</div>
        </div>
        {% for water in water_irrigation %}
        <a class="d-flex justify-content-evenly p-1 farm_information"
          href="/water_irrigation_info/water_irrigation_id={{water.id}}">
          <div class="table_one_content_1">{{water.water_irrigation_type}}</div>
          <div class="table_one_content_1">{{water.water_irrigation_date}}</div>
          <div class="table_one_content_1">{{water.time_from_water_irrigation}}</div>
          <div class="table_one_content_1">{{water.water_date_from_planting}}</div>
        </a>
        {% endfor %}
        <div class="add_more_farm">
          <div class="add_more_farm_1 p-2">
            <a href="{% url 'water_irrigation_reg' %}">add more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="farm_info" id="pesticide">
      <div class="page_table">
        <div class="d-flex justify-content-evenly p-1 page_table_1">
          <div class="table_one_content">Pesticide Name</div>
          <div class="table_one_content">Pesticide Qty</div>
          <div class="table_one_content">Pesticide Date</div>
          <div class="table_one_content">Pesticide Days</div>
        </div>
        {% for pes in pesticide %}
        <a class="d-flex justify-content-evenly p-1 farm_information" href="/pesticide_info/pesticide_id={{pes.id}}">
          <div class="table_one_content_1">{{pes.pesticide_name}}</div>
          <div class="table_one_content_1">{{pes.pesticide_qty}}</div>
          <div class="table_one_content_1">{{pes.pesticide_date}}</div>
          <div class="table_one_content_1">{{pes.time_from_prestiside}}</div>
        </a>
        {% endfor %}
        <div class="add_more_farm">
          <div class="add_more_farm_1 p-2">
            <a href="{% url 'pesticide_reg' %}">add more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="farm_info" id="harvesting">
      <div class="page_table">
        <div class="d-flex justify-content-evenly p-1 page_table_1">
          <div class="table_one_content">plant_type</div>
          <div class="table_one_content">harvesting_time</div>
          <div class="table_one_content">total_production</div>
          <div class="table_one_content">per_acre_production</div>
        </div>
        {% for har in harvesting %}
        <a class="d-flex justify-content-evenly p-1 farm_information" href="{% url 'harvesting_info' id=har.id%}">
          <div class="table_one_content_1">{{har.plant_type}}</div>
          <div class="table_one_content_1">{{har.harvesting_time}}</div>
          <div class="table_one_content_1">{{har.total_production}}</div>
          <div class="table_one_content_1">{{har.per_acre_production}}</div>
        </a>
        {% endfor %}
        <div class="add_more_farm">
          <div class="add_more_farm_1 p-2">
            <a href="{% url 'harvesting_reg' %}">add more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="farm_info" id="selling">
      <div class="page_table">
        <div class="d-flex justify-content-evenly p-1 page_table_1">
          <div class="table_one_content">sell_quantity</div>
          <div class="table_one_content">sell_date</div>
          <div class="table_one_content">sell_rate</div>
          <div class="table_one_content">purchaser_name</div>
          <div class="table_one_content">purchaser_number</div>
        </div>
        {% for cs in crop_selling %}
        <a class="d-flex justify-content-evenly p-1 farm_information" href="{% url 'crop_selling_info' id=cs.id%}">
          <div class="table_one_content_1">{{cs.sell_quantity}}</div>
          <div class="table_one_content_1">{{cs.sell_date}}</div>
          <div class="table_one_content_1">{{cs.sell_rate}}</div>
          <div class="table_one_content_1">{{cs.purchaser_name}}</div>
          <div class="table_one_content_1">{{cs.purchaser_number}}</div>
        </a>
        {% endfor %}
        <div class="add_more_farm">
          <div class="add_more_farm_1 p-2">
            <a href="{% url 'crop_selling_reg' %}">add more</a>
          </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="col-md-6">
      <button>
        <a href="{% url 'harvesting_reg' %}">Harvesting Registration</a>
      </button>
      <div class="d-flex justify-content-evenly flex-wrap">
        {% for har in harvesting %}
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">plant_type: {{har.plant_type}}</h5>
            <p class="card-text">harvesting_time: {{har.harvesting_time}}</p>
            <p class="card-text">total_production:{{har.total_production}}</p>
            <p class="card-text">
              per_acre_production: {{har.per_acre_production}}
            </p>
            <p class="card-text">create_date: {{har.create_date}}</p>
            <p class="card-text">modified_date: {{har.modified_date}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <button>
        <a href="{% url 'crop_selling_reg' %}">Crop Selling Registration</a>
      </button>
      <div class="d-flex justify-content-evenly flex-wrap">
        {% for cs in crop_selling %}
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">sell_quantity: {{cs.sell_quantity}}</h5>
            <p class="card-text">sell_date: {{cs.sell_date}}</p>
            <p class="card-text">sell_rate:{{cs.sell_rate}}</p>
            <p class="card-text">purchaser_name: {{cs.purchaser_name}}</p>
            <p class="card-text">purchaser_number: {{cs.purchaser_number}}</p>
            <p class="card-text">creation_date: {{cs.creation_date}}</p>
            <p class="card-text">modified_date: {{cs.modified_date}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div> {% endcomment %}

    <!-- <div class="farmer_info_title_page text-muted"><span class="pages">Fertilizer</span><span class="pages_1">Water
        irrigation</span><span class="pages_1">Pesticide</span></div>
    <div class="farm_info">
      {% for fer in fertilizer %}
      <a class="farm_info_card" href="/fertilizer_info/fertilizer_id={{fer.id}}">
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Fertilizer Name</div>
          <div class="farmer_details_1">{{fer.fertilizer_name}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Fertilizer Qty</div>
          <div class="farmer_details_1">{{fer.fertilizer_qty}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Rating</div>
          <div class="farmer_details_1">{{fer.rating}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Fertilizer Days From Planting</div>
          <div class="farmer_details_1">{{fer.fertilizer_days_from_planting}}</div>
        </div>
        </span>
      </a>
      {% endfor %}
      {% for water in water_irrigation %}
      <a class="farm_info_card" href="/fertilizer_info/fertilizer_id={{fer.id}}">
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Water Irrigation Type</div>
          <div class="farmer_details_1">{{water.fertilizer_name}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Water Irrigation Date</div>
          <div class="farmer_details_1">{{water.water_irrigation_date}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Time From Water Irrigation</div>
          <div class="farmer_details_1">{{water.time_from_water_irrigation}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Days From Planting</div>
          <div class="farmer_details_1">{{water.water_date_from_planting}}</div>
        </div>
        </span>
      </a>  
      {% endfor %}
      {% for pes in pesticide %}
      <a class="farm_info_card" href="/fertilizer_info/fertilizer_id={{fer.id}}">
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Pesticide Name</div>
          <div class="farmer_details_1">{{pes.pesticide_name}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Pesticide Qty</div>
          <div class="farmer_details_1">{{pes.pesticide_qty}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Pesticide Date</div>
          <div class="farmer_details_1">{{pes.pesticide_date}}</div>
        </div>
        <div class="farmer_info_details_2">
          <div class="text-muted farmer_info_title_1">Pesticide Days</div>
          <div class="farmer_details_1">{{pes.time_from_prestiside}}</div>
        </div>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>

  <h2> </h2>
  <table class="table table-borderless table-width-40 farmer_detail">
    <a href="/plant_edit/plant_id={{planting_history.id}}">Edit Planting</a>
    <tbody>
      <tr>
        <th scope="row">Farmer Name:</th>
        <td>{{planting_history.farmer_id.name}}</td>
      </tr>
      <tr>
        <th scope="row">Farm ID:</th>
        <td>{{planting_history.farm_id.farm_nick_name}}</td>
      </tr>
      <tr>
        <th scope="row">Plant Name:</th>
        <td>{{planting_history.plant}}</td>
      </tr>
      <tr>
        <th scope="row">Plant Type:</th>
        <td>{{planting_history.plant_type}}</td>
      </tr>
      <tr>
        <th scope="row">Plant Area</th>
        <td>{{planting_history.planting_area}}</td>
      </tr>
      <tr>
        <th scope="row">Planting Date</th>
        <td>{{planting_history.planting_time}}</td>
      </tr>
      <tr>
        <th scope="row">Time from planting</th>
        <td>{{planting_history.time_from_planting}}</td>
      </tr>
      <tr>
        <th scope="row">Create Date</th>
        <td>{{planting_history.create_date}}</td>
      </tr>
      <tr>
        <th scope="row">Modified Date</th>
        <td>{{planting_history.modified_date}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12 d-flex">
    <div class="col-md-4">
      <button><a href="{% url 'fertilizer_reg' %}">Fertilizer Reg</a></button>
      <div class="d-flex justify-content-evenly flex-wrap">
        {% for fer in fertilizer %}
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">fertilizer_name:{{fer.fertilizer_name}}</h5>
            <p class="card-text">fertilizer_qty:{{fer.fertilizer_qty}}</p>
            <p class="card-text">fertilizer_date:{{fer.fertilizer_date}}</p>
            <p class="card-text">rating:{{fer.rating}}</p>
            <p class="card-text">crop_days:{{fer.fertilizer_days_from_planting}}</p>
            <button><a href="/fertilizer_info/fertilizer_id={{fer.id}}">More Info</a></button>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    <div class="col-md-4">
      <button><a href="{% url 'water_irrigation_reg' %}">Water irrigation</a></button>
      <div class="d-flex justify-content-evenly flex-wrap">
        {% for water in water_irrigation %}
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">water_irrigation_type :{{water.water_irrigation_type}}</h5>
            <p class="card-text">water_irrigation_date: {{water.water_irrigation_date}}</p>
            <p class="card-text">time_from_water_irrigation: {{water.time_from_water_irrigation}}</p>
            <p class="card-text">Days from planting: {{water.water_date_from_planting}}</p>
            <button><a href="/water_irrigation_info/water_irrigation_id={{water.id}}">More Info</a></button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <button><a href="{% url 'pesticide_reg' %}">Pesticide</a></button>
      <div class="d-flex justify-content-evenly flex-wrap">
        {% for pes in pesticide %}
        <div class="card m-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">pesticide_name:{{pes.pesticide_name}}</h5>
            <p class="card-text">pesticide_qty:{{pes.pesticide_qty}}</p>
            <p class="card-text">pesticide_date:{{pes.pesticide_date}}</p>
            <p class="card-text">pesticide_days:{{pes.time_from_prestiside}}</p>
            <p class="card-text">Days from planting:{{pes.pesticide_date_from_planting}}</p>
            <button><a href="/pesticide_info/pesticide_id={{pes.id}}">More Info</a></button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> -->
    {% endblock %}

    {% block jsfile %}
    <script src="{% static 'planting.js' %}"></script>
    {% endblock %}
