{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<h2>Planting Reg</h2>

<div class="container create_user_form">
   <button><a href="{% url 'farm_info' farm_id=farm_id%}">Back to Farm Info</a></button>


    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" class="form-control" id="id_farmer_id" name="farmer_id" value="{{ farmer_id }}" >
        </div>
        <div class="form-group mt-3">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" class="form-control" id="id_farm_id" name="farm_id" value="{{ farm_id }}" >
        </div>
        <div class="form-group mt-3">
            <label for="id_planting_time">Planting Time</label>
            <input type="datetime-local" class="form-control" id="id_planting_time" name="planting_time" placeholder="Planting Time" required>
        </div>
        {% comment %} <div class="form-group mt-3">
            <label for="id_plant">Plant</label> default_plant_name
            <input type="text" class="form-control" id="id_plant" name="plant" placeholder="Plant" required>
        </div> {% endcomment %}
        <div class="mt-3">
            <label for="Plant_select">Plant</label>
            <select name="fertilizer_name" id="Plant_select">

                <option value="" selected>--Please choose an option--</option>
                    {% for fer in default_plant_name %}
                    <option value="{{fer.id}}">{{fer.plant_name}}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="mt-3">
            <label for="pet_select">Plant Type</label>
            <select name="fertilizer_name" id="pet_select">

                <option value="" selected>--Please choose an option--</option>
                    <!-- {% for fer in default_plant_seed_name %}
                    <option value="{{fer.seed_name}}">{{fer.seed_name}}</option>
                    {% endfor %}     -->
            </select>
        </div>

        {% comment %} <div class="form-group mt-2">
            <label for="id_plant_type">Plant Type</label>
            <input type="text" class="form-control" id="id_plant_type" name="plant_type" placeholder="Plant Type" required>
        </div> {% endcomment %}

        <div class="form-group mt-3">
            <label for="id_planting_area">Planting Area</label>
            <input type="text" class="form-control" id="id_planting_area" name="planting_area" placeholder="Planting Area" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
    </form>
</div>

<script>

    a = {{default_plant_name|safe}};
    b = {{default_plant_seed_name|safe}};
    plant_select = document.getElementById('Plant_select');
    plant_select.addEventListener('change', function set_plant_type(){
        var default_plant_seed_name = []
        for(let i=0; i<=b.length-1; i++){
            c = b[i]['plant_name_id']

            if(c == plant_select.value){
                default_plant_seed_name.push(b[i]['seed_name']) 
            }
        }
        pet_select = document.getElementById('pet_select')
        pet_select.innerHTML = '<option value="" selected>--Please choose an option--</option>'
        for(var plant_seed in default_plant_seed_name){
            pet_select.innerHTML += `<option value="${default_plant_seed_name[plant_seed]}">${default_plant_seed_name[plant_seed]}</option>`
        }
    })


</script>

{% endblock %}