<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'createuser.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Group By
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">All Farmers</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">First Category Farmer</a></li>
                  <li><a class="dropdown-item" href="#">Second Category Farmer</a></li>
                  <li><a class="dropdown-item" href="#">Third Category Farmer</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="d-flex justify-content-evenly flex-wrap">
        {% for farm in farm_info %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{farm.farm_nick_name}}</h5>
                <p class="card-text">{{farm.caretaker}}</p>
                <p class="card-text">{{farm.caretaker_phone_number}}</p>
                <p class="card-text farm_space">{{farm.farm_space}}</p>
                <!--<a href="farm_info" class="btn btn-primary">More Details</a>-->
                {% comment %} <form method="POST" action="{% url 'farm_info' %}"> {% endcomment %}
                    {% comment %} {% csrf_token %} {% endcomment %}
                    {% comment %} <input name="farm_id" type="hsidden" value={{ farm.id }}> {% endcomment %}
                    <button type="submit" class="das-reject-order">
                        More info
                    </button>
                {% comment %} </form> {% endcomment %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'search_farm.js' %}"></script>


</body>

</html>