{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}
<div class="back_btn_3">
    <a href="{% url 'farm_info' farm_id=farm_id%}" class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
    <a href="{% url 'farm_info' farm_id=farm_id%}" class="back_btn_4">Back To Farm</a>
</div>
<div class="main_box">
    <div class="d-flex justify-content-between">
        <div class="farmer_info_title text-muted">Soil Test Info</div>
        <div class="m-3">
            <a href="/soil_test_edit/soil_test_id={{soil_test.id}}" class="material-symbols-outlined text-muted">
              edit_square
            </a>
            <a href="{% url 'delete_record'%}" class="material-symbols-outlined text-muted">
              delete
            </a>
        </div>
    </div>
    <div class="farmer_info_details">
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farmer Name</div>
            <div class="farmer_details_1">{{soil_test.farmer_id.name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farm Name</div>
            <div class="farmer_details_1">
                {{soil_test.farm_id.farm_nick_name}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Test Date</div>
            <div class="farmer_details_1">{{soil_test.test_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Water Source</div>
            <div class="farmer_details_1">{{soil_test.water_source}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">PH</div>
            <div class="farmer_details_1">{{soil_test.ph}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">EC</div>
            <div class="farmer_details_1">{{soil_test.ec}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Organic Carbon</div>
            <div class="farmer_details_1">{{soil_test.organic_carbon}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Nitrogen</div>
            <div class="farmer_details_1">{{soil_test.available_nitrogen}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Phosphorus</div>
            <div class="farmer_details_1">{{soil_test.available_phosphorus}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Potassium</div>
            <div class="farmer_details_1">{{soil_test.available_potassium}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Zinc</div>
            <div class="farmer_details_1">{{soil_test.available_zinc}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Boron</div>
            <div class="farmer_details_1">{{soil_test.available_boron}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Iron</div>
            <div class="farmer_details_1">{{soil_test.available_iron}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Manganese</div>
            <div class="farmer_details_1">{{soil_test.available_manganese}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Copper</div>
            <div class="farmer_details_1">{{soil_test.available_copper}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Available Sulphur</div>
            <div class="farmer_details_1">{{soil_test.available_sulphur}}</div>
        </div>
    </div>
    <div class="mt-4 border-invisible"></div>
</div>

{% endblock %}