{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}

<div class="container create_user_form">
    <h5 class="font-weight-bold">Soil Test</h5>
    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-3 d-none">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" class="form-control" id="id_farmer_id" name="farmer_id" value="{{farmer_id}}"
                placeholder="Farmer Id" required>
        </div>
        <div class="form-group mt-3 d-none">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" class="form-control" id="id_farm_id" name="farm_id" value="{{farm_id}}"
                placeholder="Farm Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_test_date">Test Date</label>
            <input type="datetime-local" class="form-control" id="id_test_date" name="test_date" placeholder="Test Date"
                required>
        </div>
        <div class="form-group mt-3">
            <label for="id_water_source">Water Source</label>
            <input type="text" class="form-control" id="id_water_source" name="water_source" placeholder="Water Source">
        </div>
        <div class="form-group mt-3">
            <label for="id_ph">PH</label>
            <input type="text" class="form-control" id="id_ph" name="ph" placeholder="PH">
        </div>
        <div class="form-group mt-3">
            <label for="id_ec">EC</label>
            <input type="text" class="form-control" id="id_ec" name="ec" placeholder="EC">
        </div>
        <div class="form-group mt-3">
            <label for="id_organic_carbon">Organic Carbon</label>
            <input type="text" class="form-control" id="id_organic_carbon" name="organic_carbon" placeholder="Organic Carbon">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_nitrogen">Available Nitrogen</label>
            <input type="text" class="form-control" id="id_available_nitrogen" name="available_nitrogen" placeholder="Available Nitrogen">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_phosphorus">Available Phosphorus</label>
            <input type="text" class="form-control" id="id_available_phosphorus" name="available_phosphorus"
                placeholder="Available Phosphorus">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_potassium">Available Potassium</label>
            <input type="text" class="form-control" id="id_available_potassium" name="available_potassium" placeholder="Available Potassium">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_zinc">Available Zinc</label>
            <input type="text" class="form-control" id="id_available_zinc" name="available_zinc"
                placeholder="Available Zinc">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_boron">Available Boron</label>
            <input type="text" class="form-control" id="id_available_boron" name="available_boron" placeholder="Available Boron">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_iron">Available Iron</label>
            <input type="text" class="form-control" id="id_available_iron" name="available_iron"
                placeholder="Available Iron">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_manganese">Available Manganese</label>
            <input type="text" class="form-control" id="id_available_manganese" name="available_manganese" placeholder="Available Manganese">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_copper">Available Copper</label>
            <input type="text" class="form-control" id="id_available_copper" name="available_copper"
                placeholder="Available Copper">
        </div>
        <div class="form-group mt-3">
            <label for="id_available_sulphur">Available Sulphur</label>
            <input type="text" class="form-control" id="id_available_sulphur" name="available_sulphur" placeholder="Available Sulphur">
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
    </form>
</div>

{% endblock %}