{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<h2>Soil Test</h2>

<div class="container create_user_form">
    <form method="post" id="loginid">
        {% csrf_token %}
        <div class="form-group mt-2">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" class="form-control" id="id_farmer_id" name="farmer_id" value="{{farmer_id}}" placeholder="Farmer Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" class="form-control" id="id_farm_id" name="farm_id" value="{{farm_id}}" placeholder="Farm Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_test_year">Test Year</label>
            <input type="number" class="form-control" id="id_test_year" name="test_year" placeholder="Test Year" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_soil_test">Soil Test</label>
            <input type="text" class="form-control" id="id_soil_test" name="soil_test" placeholder="Soil Test" required>
        </div>
        <div class="form-group mt-2">
            <label for="id_water_test">Water Test</label>
            <input type="text" class="form-control" id="id_water_test" name="water_test" placeholder="Water Test" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_nitrogen">Nitrogen</label>
            <input type="text" class="form-control" id="id_nitrogen" name="nitrogen" placeholder="Nitrogen" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_phosphorus">Phosphorus</label>
            <input type="text" class="form-control" id="id_phosphorus" name="phosphorus" placeholder="Phosphorus" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_potassium">Potassium</label>
            <input type="text" class="form-control" id="id_potassium" name="potassium" placeholder="Potassium" required>
        </div>
        <div class="form-group mt-2">
            <label for="id_other_element">Other Element</label>
            <input type="text" class="form-control" id="id_other_element" name="other_element" placeholder="Other Element" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_test_file">Test File</label>
            <input type="text" class="form-control" id="id_test_file" name="test_file" placeholder="Test File" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
    </form>
</div>

{% endblock %}