{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}
    <div class="back_btn_3">
        <a href="{% url 'planting' planting_id=water_irrigation.planting_id.id%}"
            class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
        <a href="{% url 'planting' planting_id=water_irrigation.planting_id.id%}" class="back_btn_4">Back To Planting
            info</a>
    </div>
<div class="main_box">
    <div class="d-flex justify-content-between">
        <div class="farmer_info_title text-muted">Water Irrigation Info</div>
        <a href="/water_irrigation_edit/water_irrigation_id={{water_irrigation.id}}"
            class="material-symbols-outlined m-3 text-muted">
            edit_square
        </a>
    </div>
    <div class="farmer_info_details">
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farmer Name</div>
            <div class="farmer_details_1">{{water_irrigation.farmer_id.name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farm Name</div>
            <div class="farmer_details_1">
                {{water_irrigation.farm_id.farm_nick_name}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Planting Name</div>
            <div class="farmer_details_1">{{water_irrigation.planting_id.plant}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Water Irrigation Type</div>
            <div class="farmer_details_1">{{water_irrigation.water_irrigation_type}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Water Irrigation Date</div>
            <div class="farmer_details_1">{{water_irrigation.water_irrigation_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Water Irrigation Days from planting</div>
            <div class="farmer_details_1">{{water_irrigation.water_date_from_planting}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Create Date</div>
            <div class="farmer_details_1">{{water_irrigation.create_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Modified Date</div>
            <div class="farmer_details_1">{{water_irrigation.modified_date}}</div>
        </div>
    </div>
    <div class="mt-4 border-invisible"></div>
</div>

{% comment %} <h2>Water Irrigation Info</h2>
<table class="table table-borderless table-width-40 farmer_detail">
    <a href="/water_irrigation_edit/water_irrigation_id={{water_irrigation.id}}">Edit Planting</a>
    <tbody>
        <tr>
            <th scope="row">Farmer ID:</th>
            <td>{{water_irrigation.farmer_id}}</td>
        </tr>
        <tr>
            <th scope="row">Farm ID:</th>
            <td>{{water_irrigation.farm_id.farm_nick_name}}</td>
        </tr>
        <tr>
            <th scope="row">Planting Id:</th>
            <td>{{water_irrigation.planting_id.plant}}</td>
        </tr>
        <tr>
            <th scope="row">Water Irrigation Type:</th>
            <td>{{water_irrigation.water_irrigation_type}}</td>
        </tr>
        <tr>
            <th scope="row">Water Irrigation Date:</th>
            <td>{{water_irrigation.water_irrigation_date}}</td>
        </tr>
        <tr>
            <th scope="row">Water Irrigation Days from planting:</th>
            <td>{{water_irrigation.water_date_from_planting}}</td>
        </tr>
        <tr>
            <th scope="row">Create Date:</th>
            <td>{{water_irrigation.create_date}}</td>
        </tr>
        <tr>
            <th scope="row">Modified Date:</th>
            <td>{{water_irrigation.modified_date}}</td>
        </tr>
    </tbody>
</table> {% endcomment %}

{% endblock %}