{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}
<div class="back_btn_3">
    <a href="{% url 'farm_info' farm_id=farm_id%}" class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
    <a href="{% url 'farm_info' farm_id=farm_id%}" class="back_btn_4">Back To Farm</a>
</div>
<div class="main_box">
    <div class="d-flex justify-content-between">
        <div class="farmer_info_title text-muted">Soil Test Info</div>
        <div class="m-3">
            <a href="/water_test_edit/water_test_id={{water_test.id}}" class="material-symbols-outlined text-muted">
              edit_square
            </a>
            <span class="material-symbols-outlined text-muted delete-button">
                delete
            </span>
        </div>
    </div>
    <div class="farmer_info_details">
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farmer Name</div>
            <div class="farmer_details_1">{{water_test.farmer_id.name}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Farm Name</div>
            <div class="farmer_details_1">
                {{water_test.farm_id.farm_nick_name}}
            </div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Test Date</div>
            <div class="farmer_details_1">{{water_test.test_date}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Sample No</div>
            <div class="farmer_details_1">{{water_test.sample_no}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">PH</div>
            <div class="farmer_details_1">{{water_test.ph}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">EC</div>
            <div class="farmer_details_1">{{water_test.ec}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">TDS</div>
            <div class="farmer_details_1">{{water_test.tds}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">CA</div>
            <div class="farmer_details_1">{{water_test.ca}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">MG</div>
            <div class="farmer_details_1">{{water_test.mg}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Hardness</div>
            <div class="farmer_details_1">{{water_test.hardness}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Turbidity</div>
            <div class="farmer_details_1">{{water_test.turbidity}}</div>
        </div>
        <div class="farmer_info_details_1">
            <div class="text-muted farmer_info_title_1">Chloride</div>
            <div class="farmer_details_1">{{water_test.chloride}}</div>
        </div>
    </div>
    <div class="mt-4 border-invisible"></div>
</div>

{% endblock %}