{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %}

    <h2>Water Irrigation Info</h2>
    <table class="table table-borderless table-width-40 farmer_detail">
        <a href="/water_irrigation_edit/water_irrigation_id={{water_irrigation.id}}">Edit Planting</a>
        <tbody>
            <tr>
                <th scope="row">Farmer ID:</th>
                <td>{{water_irrigation.farmer_id}}</td>
            </tr>
            <tr>
                <th scope="row">Farm ID:</th>
                <td>{{water_irrigation.farm_id.farm_nick_name}}</td>
            </tr>
            <tr>
                <th scope="row">Planting Id:</th>
                <td>{{water_irrigation.planting_id.plant}}</td>
            </tr>
            <tr>
                <th scope="row">Water Irrigation Type:</th>
                <td>{{water_irrigation.water_irrigation_type}}</td>
            </tr>
            <tr>
                <th scope="row">Water Irrigation Date:</th>
                <td>{{water_irrigation.water_irrigation_date}}</td>
            </tr>
            <tr>
                <th scope="row">Create Date:</th>
                <td>{{water_irrigation.create_date}}</td>
            </tr>
            <tr>
                <th scope="row">Modified Date:</th>
                <td>{{water_irrigation.modified_date}}</td>
            </tr>
        </tbody>
    </table>
 
{% endblock %}