{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<h2>Crop Sellings</h2>

<div class="container create_user_form">
    <form method="post" id="loginid">
        {% csrf_token %}
        {% for w in crop_sellings %}
        <div class="form-group mt-2">
            <label for="id_farmer_id">Farmer Id</label>
            <input type="number" value="{{w.farmer_id.id}}" class="form-control" id="id_farmer_id" name="farmer_id" placeholder="Farmer Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_farm_id">Farm Id</label>
            <input type="number" value="{{w.farm_id.id}}" class="form-control" id="id_farm_id" name="farm_id" placeholder="Farm Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_planting_id">Planting Id</label>
            <input type="number" value="{{w.planting_id.id}}" class="form-control" id="id_planting_id" name="planting_id" placeholder="Planting Id" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_sell_quantity">Sell Quantity</label>
            <input type="text" value="{{w.sell_quantity}}" class="form-control" id="id_sell_quantity" name="sell_quantity" placeholder="Sell Quantity" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_sell_date">Sell Date</label>
            <input type="text" value="{{w.sell_date}}" class="form-control" id="id_sell_date" name="sell_date" placeholder="Sell Date" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_sell_rate">Sell Rate</label>
            <input type="text" value="{{w.sell_rate}}" class="form-control" id="id_sell_rate" name="sell_rate" placeholder="Sell Rate" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_purchaser_name">Purchaser Name</label>
            <input type="text" value="{{w.purchaser_name}}" class="form-control" id="id_purchaser_name" name="purchaser_name" placeholder="Purchaser Name" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_purchaser_number">Purchaser Number</label>
            <input type="text" value="{{w.purchaser_number}}" class="form-control" id="id_purchaser_number" name="purchaser_number" placeholder="Purchaser Number" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
        {% endfor %}
    </form>
</div>

{% endblock %}