{% extends 'dashboard/basic.html' %}
{% block body %}
{% load static %} 

<div class="container create_user_form">
    <h5 class="font-weight-bold">Farmer Registarion</h5>
    <form method="post" id="loginid">
        {% csrf_token %}
        {% for s in farmer %}
        <div class="form-group mt-2">
            <label for="id_name">Name</label>
            <input type="text" value="{{s.name}}" class="form-control" id="id_name" name="name" placeholder="Name" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_phone_number">Phone Number</label>
            <input type="tel" pattern="^\d{10}$" value="{{s.phone_number}}" class="form-control" id="id_phone_number" name="phone_number" placeholder="Phone Number" required>
        </div>
        <div class="form-group mt-3">
            <label for="id_address">Address</label>
            <input type="text" value="{{s.address}}" class="form-control" id="id_address" name="address" placeholder="address">
        </div>
        <div class="form-group mt-3">
            <label for="id_aadhar_number">Aadhar Number</label>
            <input type="tel" pattern="^\d{12}$" value="{{s.aadhar_number}}" class="form-control" id="id_aadhar_number" name="aadhar_number" placeholder="Aadhar Number">
        </div>
        <div class="form-group mt-2">
            <label for="id_family_members">Family Members</label>
            <input type="number" value="{{s.family_members}}" class="form-control" id="id_family_members" name="family_members" placeholder="Family Members">
        </div>
        <div class="form-group mt-3">
            <label for="id_family_occupation">Family Occupation</label>
            <input type="text" value="{{s.family_occupation}}" class="form-control" id="id_family_occupation" name="family_occupation" placeholder="Family Occupation">
        </div>
        <div class="form-group mt-3">
            <label for="id_is_access">Is Access</label>
            <input type="checkbox" {% if s.is_access %} checked {% endif %} d="id_is_access" name="is_access" placeholder="Is Access">
        </div>
        <button type="submit" class="btn btn-primary mt-3" form="loginid">Submit</button>
        {% endfor %}
    </form>
</div>

{% endblock %}