@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(235, 242, 255);
    font-family: 'Poppins', sans-serif;

}
a{
    color: black;
    text-decoration: none;
}
.add_btn{
    background-color: rgb(202, 202, 202);
    padding: 4px 8px;
    border-radius: 12px;
}

.create_user_form {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    width: 50%;
    height: auto;
}
.table-width-40{
    width: 40%;
}
.farmer_detail{
    background-color: white;
    border-radius: 10px;
    margin: 10px 20px;
}

@media(max-width: 768px) {
    .create_user_form {
        width: 80%;
    }
}

@media(max-width: 400px) {
    .create_user_form {
        width: 90%;
    }
}