@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(92, 153, 130, 0.12);
    font-family: 'Poppins', sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;

}

.add_btn {
    background-color: rgb(202, 202, 202);
    padding: 4px 8px;
    border-radius: 12px;
}

.create_user_form {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 8px;
    width: 50%;
    height: auto;
}

.table-width-40 {
    width: 40%;
}

.farmer_detail {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    width: 75%;
    color: rgb(70, 70, 70);
}

.page_table {
    width: 100%;
    margin-top: 10px;

}

.page_table_1 {
    width: 95%;
    margin: auto;
    background-color: rgb(228, 249, 245);
    border-radius: 7px;
}

.table_one_content {
    width: 20%;
    text-align: center;
    font-weight: 500;

}

.table_one_content_1 {
    width: 20%;
    text-align: center;
    font-weight: 400;
    /* color: rgb(70, 70, 70); */
}

.page_name {
    border: 2px solid rgb(155, 155, 155);
    border-bottom: none;
    padding: 3px 10px;
    background-color: white;
}

.add_farm_btn {
    margin-top: -13px;
    font-size: 14px;
    padding: 0px 0px 20px 5px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.farm_details {
    font-size: 13px;
}

.navbar {
    height: 70px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: sticky;
    top: 0;
}

.admin_dash {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.user_info {
    float: right;
    display: flex;
}

.user_avtar {
    width: 50px;
    height: 45px;
    border-radius: 50%;
}

.user_avtar_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.user_name {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 0px 10px;
}

.left_side_menu {
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: white;
    padding-top: 30px;
    display: none;
}

.side_menu_boxes {
    width: 80%;
    height: 50px;
    border: 1px solid rgb(240, 240, 240);
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
}

/* #side_box_1{
    background-color: rgb(205, 255, 193);
    border-radius: 4px;

} */


#logout_btn {
    background-color: white;
    padding: 10px 20px;
    top: 75px;
    right: 5px;
    position: fixed;
    display: none;
    cursor: pointer;
}

.dash_menu {
    height: 250px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
}

.menu_box {
    height: 125px;
    width: 100px;
}

.back_btn {
    margin: 10px 0px 0px 10px;
}

.back_btn_1 {
    border: none;
    outline: none;
    background: none;

}

.back_btn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.menu_item {
    height: 125px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.menu_item_img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.menu_item_img_1 {
    height: 90%;
    width: 90%;
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 7px;
}

.menu_item_img_1:hover {
    height: 100%;
    width: 100%;
}

.main_box {
    width: 75%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.267), 0 3px 14px 0 rgba(0, 0, 0, 0.267);
}

.farmer_info_title {
    padding: 15px;
    font-weight: 500;
}

.farmer_info_title_page {
    padding: 25px 15px 0px 15px;
    font-weight: 500;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.pages {
    border: 1px solid rgb(160, 160, 160);
    border-bottom: none;
    padding: 5px 8px 2px 8px;
    z-index: 5;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.pages_1 {
    border: 1px solid rgb(160, 160, 160);
    /* border-bottom: none; */
    padding: 5px 8px 2px 8px;
    z-index: 5;
    background-color: white;
}

.farmer_info_details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(228, 249, 245);
    width: 95%;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.116), 0 3px 14px 0 rgba(0, 0, 0, 0.116);

}

.farmer_info_details_1 {
    width: 30%;
    margin-top: 20px;

}

.farmer_info_title_1 {
    font-size: 14px;
}

.farmer_details_1 {
    font-weight: 600;
}

.farm_info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.farm_info_card {
    background-color: #e4fff5;
    width: 30%;
    height: 180px;
    margin: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
}

.farmer_info_details_2 {
    width: 40%;
    margin-top: 20px;
}

.farm_information {
    font-size: 14px;
    color: rgb(70, 70, 70);
    width: 95%;
    margin: auto;
    border-top: 1px solid rgb(228, 249, 245);


}

.farm_information:hover {
    /* background-color: #eefff9; */
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.116), 0 3px 14px 0 rgba(0, 0, 0, 0.116);
    border-radius: 10px;
}

.add_more_farm {
    margin: auto;
    width: 95%;
}

.add_more_farm_1 {
    font-weight: bold;
    font-size: 14px;
    /* margin-left: 60px; */
    width: 20%;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 20px !important;
    width: 20px !important;
    margin-left: 10px;
}

.back_btn_3 {
    margin: 30px;
    width: 170px;
    height: 40px;
    background-color: rgb(228, 249, 245);
    overflow: hidden;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 400ms;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.back_btn_4 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-top: 10px;
}

.back_btn_3:hover {
    width: 170px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.116), 0 3px 14px 0 rgba(0, 0, 0, 0.116);
    /* animation-name: smit;
    animation-duration: 3s;
    animation-iteration-count: 1; */

}

/* @keyframes smit{
    50% {transform: rotate(180deg);}
} */

.plant_seed_box {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.plant_box {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.116), 0 4px 14px 0 rgba(0, 0, 0, 0.116);
    border-radius: 7px;
    background-color: white;
    width: 45%;
    cursor: pointer;
    padding: 20px;

}

.plant_box_1,
#seed_box {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(228, 249, 245);
    border: 1px solid rgb(228, 249, 245);
    margin: 10px 20px;
    border-radius: 7px;
}
#seed_box{
    border: 1px solid rgb(247, 253, 252);
    background-color: rgb(247, 253, 252);
}

.plant_name {
    margin: 10px;
    padding: 10px 10px;
}

.plant_name:hover {
    border-radius: 7px;
    background-color: rgb(175, 252, 226);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.116), 0 4px 14px 0 rgba(0, 0, 0, 0.116);

}

@media(max-width: 768px) {
    .create_user_form {
        width: 80%;
    }
}

@media(max-width: 400px) {
    .create_user_form {
        width: 90%;
    }
}