{% extends 'dashboard/basic.html' %} {% block body %} {% load static %}

<h2>Fertilizer statistics</h2>
<div class="back_btn_3">
  <a href="/default_fertilizers" class="material-symbols-outlined back_btn_4">arrow_back_ios</a>
  <a href="/default_fertilizers" class="back_btn_4">Back To Fertilizer</a>
</div>
{% if fertilizer_name == 'No information about this fertilizer' %}
{{fertilizer_name}} {% else %} {% comment %} {%for fer in fertilizer%}
<span>Purchased by {{fer.farmer_id.name}} For farm {{fer.farm_id.farm_nick_name}} |
  fertilizer_qty {{fer.fertilizer_qty}} | creation_date
  {{fer.create_date}}</span><br />
{% endfor %} {% endcomment %}
<div class="fertilizer_box m-auto mt-3">
  {{fertilizer_name}}
  <div class="plant_box_1">
    <div class="plant_name_title d-flex justify-content-around">
      <div class="w-25 border-bottom border-dark text-center pb-1">
        Purchased
      </div>
      <div class="w-25 border-bottom border-dark text-center pb-1">Farm</div>
      <div class="w-25 border-bottom border-dark text-center pb-1">
        Fertilizer Qty
      </div>
      <div class="w-25 border-bottom border-dark text-center pb-1">
        Creation Date
      </div>
    </div>
    {% for fer in fertilizer %}
    <div class="plant_name d-flex justify-content-around">
      <div class="w-25 text-center">{{fer.farmer_id.name}}</div>
      <div class="w-25 text-center">{{fer.farm_id.farm_nick_name}}</div>
      <div class="w-25 text-center">{{fer.fertilizer_qty}}</div>
      <div class="w-25 text-center">{{fer.create_date}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}