{% extends 'dashboard/basic.html' %}
{% block body %}
{% comment %} <h1 class="">Welcome to {{ user.username }} dashboard</h1> {% endcomment %}
{% comment %} <div>
    <a href="createuser">Create User</a>
    <br />
    <a href="">Farmer</a>
    <br />
    <a href="search">Search</a>
</div>
<br />
<br />
<a href="search_utm">Search_utm</a>
<br />
<br />
<a href="{% url 'default_parameters'%}">Default parameters</a>
<br />
<br /> {% endcomment %}

{% comment %} <a href="logout">Logout</a> {% endcomment %}

<div class="dash_menu">
    {% comment %} <a href="#" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/dashboard.jpg" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Dashboard</div>
        </div>
    </a> {% endcomment %}
    <a href="farmers" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/farmer.png" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Farmer</div>
        </div>
    </a>
    <a href="search" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/search1.jpg" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Search</div>
        </div>
    </a>
    <a href="{% url 'default_plant_name'%}" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/Plant.png" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Plant Names</div>
        </div>
    </a>
    <a href="{% url 'default_fertilizers'%}" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/fertilizer.png" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Fertilizer</div>
        </div>
    </a>
    <a href="{% url 'default_pesticides'%}" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/pesticide.png" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Pesticide</div>
        </div>
    </a>
    <a href="createuser" class="menu_box">
        <div class="menu_item">
            <div class="menu_item_img"><img src="static/images/create_user.jpg" alt="" class="menu_item_img_1"></div>
            <div class="menu_item_name">Create User</div>
        </div>
    </a>
</div>

{% endblock %}